.usuarios{
    padding: 10px;
    text-align: center;
}
.usuarios table{
width: 100%;
}

.tablaOrdenes{
    width: 100%;
    overflow-x: auto;
    height: 250px;
    overflow-y: auto;
}

.cardConfiguracion{
    border: solid black 1px;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.cardConfiguracion select{
    width: 200px;
}