.envios{
        padding: 10px;
        text-align: center;
}
.envios table{
    width: 100%;
}
.enviosPendientes{
    width: 100%;
    overflow-x: auto;
    height: 250px;
    overflow-y: auto;
}

.enviosProcesando{
    width: 100%;
    overflow-x: auto;
    height: 250px;
    overflow-y: auto;
}

.enviosEnviados{
    width: 100%;
    overflow-x: auto;
    height: 250px;
    overflow-y: auto;
}

.enviosEntregados{
    width: 100%;
    overflow-x: auto;
    height: 250px;
    overflow-y: auto;
}

.pedidosCancelados{
    width: 100%;
    overflow-x: auto;
    height: 250px;
    overflow-y: auto;
}