.tablaPanes img{
 max-width: 100px;
}

.panes{
    padding: 10px;
    text-align: center;
}

.panes table{
    
    width: 100%;
}

.tablaPanes{
    width: 100%;
    height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}