body{
    font-family: 'Arial', sans-serif;
    min-height: 600px;
}

.cuerpoContenido{
    background-color: rgb(238, 238, 230);
}

.botonConfirmacion{
    background-color: rgb(102, 210, 102);
    height: 30px;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    border: white solid 2px;
    min-width: 100px;
    cursor: pointer;
}
.botonPrimario{
    background-color: rgb(63, 93, 185);
    height: auto30px;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    border: white solid 2px;
    min-width: 100px;
    cursor: pointer;
}

.botonPeligro{
    background-color: rgb(185, 63, 63);
    height: 30px;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    border: white solid 2px;
    min-width: 100px;
    cursor: pointer;
}


.botonAdvertencia{
    background-color: rgb(232, 247, 13);
    height: 30px;
    color: black;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    border: white solid 2px;
    min-width: 100px;
    cursor: pointer;
}


table{
    border: 1px solid black;
}

table thead {
    background-color: black;
    color: white;
}

table tbody {
    background-color: white;
    color: black;
}
