.CardCocina{
    border: black solid 2px;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 20px;
}


.CardCocina img{
    width: 100%;
}
